@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");

@keyframes slide-in {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.selected {
  font-weight: bold;
}

.menu__container {
  font-family: "Raleway", sans-serif;
  position: relative;
  width: 200px;
  background-color: rgba(135, 206, 235, 1);
  margin: 20px 0;
  background-image: url("../../grid-me.png");
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  padding: 10px;
  animation: slide-in 2s ease-in-out both;
  line-height: 1.5rem;
}

.menu__content {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu__link {
  text-decoration: none;
  color: black;
}

.menu__link:hover {
  font-style: italic;
  font-weight: bold;
}
