@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");

.selected {
  font-weight: bold;
}

.list__items {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.list__set {
  margin: 0;
}

.list__link {
  text-decoration: none;
  color: black;
}

.list__link:hover {
  font-style: italic;
  font-weight: bold;
}

.list__set {
  margin-top: 15px;
}

.list__set legend {
  font-weight: bold;
}
