/*
Primary: 2196f3
Primary-light: 6ec6ff
Primary-dark: 0069c0
Text-dark: black
Text-light: smokewhite
*/

$primary: #2196f3;
$primary-light: #6ec6ff;
$primary-dark: #0069c0;
$text-color-light: whitesmoke;
$text-color-dark: black;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
    padding: 10px;
}

body {
    background-color: #f3f3f3;;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: white;
    border: 1px solid rgba(0,0,0,0.3)
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: white;
    border: 1px solid rgba(0,0,0,0.3);
    width: 100%;
    margin-top: 15px;
}

header ul {
    display: flex;
    margin: 0px;
    padding: 0px;
    list-style: none;
    padding-right: 10px;
}

header ul li {
    padding-left: 10px;
}

.selected { 
    font-weight: bolder;
}

h1 {
    margin: 0 auto;
    color: $primary-dark;
    font-size: 50px;
    font-family: 'Karla', sans-serif;
    text-transform: uppercase;
}

img {
    width: 100px;
    margin: 10px;
}

input[type=checkbox] {
    width: 20px;
    height: 20px;
    margin: 0 10px;
}

.maintitle {
    width: 90%;
    margin: 0 auto; 
    margin-top: 15px;
    background-color: #3a85dd;
    border-radius: 10px 10px 0 0;
    padding: 15px;
    color: white;
    border: 1px solid rgba(0,0,0,0.6);
    border-bottom: none;
}

.maincontainer {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto; 
    background-color: white;
    border-radius: 0 0 10px 10px;
    border: 1px solid rgba(0,0,0,0.6);
    border-top: none;
}

.maincontainer div:nth-child(2) {
    flex-grow: 4P;
}

.chartcontainer {
    position: sticky;
    top: 0px;
}