* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.maintitle {
  width: 90%;
  margin: 0 auto;
  margin-top: 15px;
  background-color: #3a85dd;
  border-radius: 10px 10px 0 0;
  padding: 15px;
  color: white;
}

.maincontainer {
  display: flex;
  justify-content: flex-start;
  width: 90%;
  margin: 0 auto;
  background-color: white;
  border-radius: 0 0 10px 10px;
}

.chartcontainer {
  position: sticky;
  align-self: flex-start;
  top: 50px;
  width: 100%;
}

fieldset {
  padding: 5px 0;
  margin: 10px 0;
}

fieldset legend {
  border-bottom: 1px solid black;
  background-color: #3a85dd;
  color: white;
  padding: 2px;
}

fieldset > * {
  display: block;
}
